{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Сенькин Иван</h1>
  <div class="row">
    <div class="col-8">
      <p>
        Привет, меня зовут Ваня. Я создал этот сайт в рамках курса по Python Яндекс.Практикума.<br>
        Ищу себя, поэтому начал активно пробовать новые сферы, где мог бы себя применить.
      </p>
      <p>
        Мир программирования раньше казался страшным, далеким, в общем, не для всех.<br>
        А оказалось, что тут решают интересные задачи, превращая в жизнь классные идеи.
      </p>
      <p>
        Меня вдохновляют интересные задачи и моя жена. Увлекаюсь кино, сериалами, путешествиями,<br>
        видеоиграми, чтением, прогулками, здоровьем... вкусной едой.<br>
      </p>
    </div>
    <div class="col-4">
      <img src={% static "img/myspace.png" %} width="400" height="400" class="d-inline-block align-top" alt="Моё рабочее место">
        <b>Мое рабочее место</b><br>
        <b>Пока довольно по-спартански...</b>
    </div>
  </div>
{% endblock %} 
